In [26]:
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
df_19 = pd.read_csv("Airbnb_NYC_2019.csv")
df_20 = pd.read_csv("listings.csv")

In [28]:
# check sizes of datasets
print("Airbnb 2019:", df_19.shape[0], "samples,", df_19.shape[1], "columns")
print("Airbnb 2020:", df_20.shape[0], "samples,", df_20.shape[1], "columns")

# check which columns are common
cols_19 = df_19.columns._data
cols_20 = df_20.columns._data
common_cols = []

for col in cols_19:
    if col in cols_20:
        common_cols.append(col)
        
print("Columns in both 2019 and 2020:")
print(*common_cols, sep="\n")

Airbnb 2019: 48895 samples, 16 columns
Airbnb 2020: 44497 samples, 74 columns
Columns in both 2019 and 2020:
id
name
host_id
host_name
neighbourhood
latitude
longitude
room_type
price
minimum_nights
number_of_reviews
last_review
reviews_per_month
calculated_host_listings_count
availability_365

In [37]:
# create dfs with common columns only
# df pre and post as in pre and post pandemic
df_pre = df_19[common_cols]
df_post = df_20[common_cols]

In [35]:
df_pre.head(5)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [36]:
df_post.head(5)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,"New York, United States",40.75362,-73.98377,Entire home/apt,$175.00,3,48,11/4/2019,0.36,2,352
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,"Brooklyn, New York, United States",40.68514,-73.95976,Entire home/apt,$77.00,1,364,10/19/2020,4.90,1,279
2,5121,BlissArtsSpace!,7356,Garon,NaN,40.68688,-73.95596,Private room,$60.00,29,50,12/2/2019,0.36,1,365
3,5178,Large Furnished Room Near B'way,8967,Shunichi,"New York, United States",40.76468,-73.98315,Private room,$65.00,2,474,9/25/2020,3.39,1,347
4,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,"New York, United States",40.80178,-73.96723,Private room,$75.00,2,118,7/21/2017,0.87,1,0

In [28]:
# dir(pd)
# dir(pd.DataFrame)
df.columns.__dict__.keys()

dict_keys(['_data', '_index_data', '_name', '_id', '_cache'])